.feed{
    flex: 6;
    overflow-y: scroll;
    -ms-overflow-style:none;
    scrollbar-width:none ;
    height: 100vh;

}


.feed::-webkit-scrollbar {
    display: none
  } 

.feed > form{
    display: flex;
    flex-direction: column;
    align-items: center;

}