
.container >input::placeholder{
    padding-left:20px

}

.form__button{
    padding:10px !important;
    margin-top: 20px !important;
    width: inherit !important;
    background-color:#c2164f !important;
    color:#E2E2E2 !important;

}
.container{
    /* display: flex !important; */
    /* flex-direction: column !important; */
    /* align-items: center !important; */
    padding: 40px;
}
.container > form{
    display: flex;
    flex-direction: column;
    /* align-items: center ; */

}
.container__wrapper{
    margin-top: 50px;
    width: 95%;    
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color:#262424  !important;

    
}