/* 
.mobileSidebar__post{
    background-color: var(--breeab-color) !important; 
    border-radius:50% !important;
/    color:#E2E2E2 !important;
/    font-size: 40px !important; 
    text-transform: inherit !important;
/    margin-top: 50px !important;
    font-family: 'Montserrat', sans-serif !important;

} */

.mobileSidebar__logo{
    padding-bottom:10px !important;
    color: var(--breeab-color) !important;
    font-family: 'Permanent Marker', cursive !important;
    text-shadow: 2px 2px #871287 !important;
    font-weight: 300 !important;
    font-size: 40px !important; 
    margin-left: 14px !important;
}
.mobileSidebar__profileWrapper{
    display: inline;
}
.mobileSidebar__profile{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    /* margin:30px 20px 20px 0px; */
    
}
.mobileSidebar__profileImage{
    margin: 0px 20px 10px 20px;

}

.mobileSidebar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    width: 100%;
    bottom: 0;
    height: 70px;
    background-color:rgb(34, 34, 34);
} 
/* .mobileSidebar >div{
display: flex;
flex-direction: row;
} */
.mobileSidebar__nav{
 
    /* padding-bottom:20px !important; */
    font-family: 'Permanent Marker', cursive !important;
    text-shadow: 2px 2px #871287 !important;
    display: relative;
    flex-direction: row;
    /* font-weight: 300 !important;
    font-size: 40px !important;  */
    /* justify-content: center;
    align-items: center; */
    /* margin-left: 20px !important; */
}
.mobileSidebar__navActive{
    color: var(--breeab-color);
}
.mobileSidebar__nav:hover{
    border-radius: 0;
    color:var(--breeab-color);
    transition: color 0.2s ease-out;
}