.message{
    border-radius: 40px !important;
    margin:10px ;
    width:fit-content;

}
.message__currentUser{
    border-radius: 40px !important;
    margin:10px ;
    width:fit-content;
    margin-left: auto;
    text-align: right !important;
}
.message__backgroudColorCurrent{
    background-color: #f50057 !important;
}
.message__backgroudColor{
    background-color: #929292 !important;

}
.message__textColor{
    color:white !important;
    padding: 5px 5px 0px 5px;
}
