.feed_wrapper{
    width: 100%;
}
.feed__post{
    display: flex;
    align-items: flex-start;
    margin: 20px 0px;
    background-color: var(--breeab-background);
    border-radius: 20px !important;
    transition: all 0.2s ease-out;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
.feed__postMobile{
    display: flex;
    align-items: flex-start;
    margin: 20px 0px;
    background-color: var(--breeab-background);
    border-radius: 20px !important;
    transition: all 0.2s ease-out;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.post--avatar{
    padding-right: 10px;
    width: 15%;
}
.post--body {
    flex:1 ;
    padding:10px;
    width: inherit;
    width: 7%;
}

.post--body > img {
    border-radius:10px;
    max-width: 90% !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
.post--header{
    padding-bottom:20px;
}

.post--textHeader{
    display: flex;
    flex-direction: row;
}

.post--textHeader > span{
    font-size: 12px;
}
.post-verified{
    font-size: 12px;
    font-weight: 600;
    color: gray;
}
.post--budge{
    font-size: 16px !important;
    color: var(--breeab-color);

}
.post--description{
    word-wrap: break-word;
    margin: 10px 0px;
    font-size: 20px;
    max-width: 700px;
}
.post--userName{
    max-width: 900px !important;
    font-size: 20px;


}
.post--headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
.post--footer{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;

}
#likeButton{
    margin-left: -80px;
}
.user__Infowrapper{
    flex: 1;
    display: flex;
    flex-direction: row;
        align-items: center;

}

.auxiliary__ButtonsWrapper{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;


}
.edit__PostWrapper{
    padding-right: 30px;

}
.delete__PostWrapper:hover{
    color:#c2164f !important

}
.post__time{
    font-size: 12px;
}
