/* overflow-y: scroll;
  -ms-overflow-style:none;
  scrollbar-width:none ; */
.messages__feedWrapper{
  display: flex;
  flex-direction: column;
}
.messages__chat::-webkit-scrollbar {
  display: none
} 

.messages__chat {

  width: 95%;
  margin-right: auto;
  margin-left: auto;
  height: 74%;
  padding-top: 20px;
  padding-bottom:100px ;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width:none ;

}
.messages__formPosition {
  height: 15%;

}
.messages__formControl {
  display: flex !important;
  flex-direction: row !important; 
  /* z-index: 1 !important; */
  /* position: fixed ; */
  /* bottom: 0px !important; */

}
.messages__input {
  height: 40px !important;
}

.messages__form{
/* width: 80%; */
/* padding-top: 1em; */

}

.messages__input {
  flex: 0.8;
}
.messages__button {
  flex: 0.2;

}
 
