.profile__feed{
    flex: 0.7;
    min-width: fit-content; /*it must to feet the content as the minimum width */
    overflow-y: scroll;
    -ms-overflow-style:none;
    scrollbar-width:none ;

}

.profile__header{
    position: sticky;
    top: 0;
    z-index: 2;
    padding:15px 20px;
    background-color:var(--breeab-color);
    text-align: center;
    margin:0px 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.profile__header > h2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}