
.profile__feed {
  flex: 0.7;
  min-width: fit-content; /*it must to feet the content as the minimum width */
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profile__header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 15px 20px;
  background-color: var(--breeab-color);
  text-align: center;
  margin: 0px 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.profile__header > h2 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}
.profileContainer__logout{
  margin:30px 50px 0px 0px !important;
  padding:10px !important;
  color:  white !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  float: right !important;
}

.custom__FileUpload {
  background-color: rgba(
    126,
    126,
    126,
    0.083
  ) !important; /*!important overrides the Mui theme*/
  border: 1px solid var(--breeab-color) !important;
  border-radius: 18px !important;
  color: #e2e2e2 !important;
  font-weight: 300 !important;
  font-size: 20px !important;
  text-transform: inherit !important;
  height: 40px !important;
  width: 120px;
  font-family: "Montserrat", sans-serif !important;
  transition: all 0.1s ease-in !important;
  margin-right: 20px !important;
  padding: 7px !important;
}

.custom__FileUpload:hover {
  background-color: hsla(0, 0%, 35%, 0.474)
}

.profile__Enabled{
  padding-top: 50px !important;
  margin:90px 20px 20px 20px ;
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
}
.profile__Disabled{
  padding-top: 140px !important;
}

.file__uploadWrapper {
  cursor: pointer;
  padding-top: 8px !important;
}


.dialog__Input > input:focus {
  background-color: rgb(68, 68, 68) !important;
}



form> button{
  margin-top: 20px !important; 
}




.date__picker{
  background-color: var(--breeab-color);
}

.profile__UploadWrapper{
  display: flex;

}
.profile__Wrapper{
  display: flex;
  flex-direction: row;

  margin-right: auto;
  margin-left: auto;
}
.profile__Picture{
  flex: 10;
}
.upload__ProfileButtons{
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.profileContainer__buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#profile__editButton{
  margin-left: 20px;
}