@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.app{
        background-color:#2B2B2B;
        color:#E2E2E2;
        display: flex;
        font-family: 'Montserrat', sans-serif ;
        height: 100vh;
        max-width: 1920px;
        margin-left: auto;/*by applying the max-width you need also to center the hole page with margin-left-right:auto*/
        margin-right:auto;

} 

body{ /* this vars exists within the entire body */
        --breeab-color:#c2164f;
        --breeab-background:rgb(50, 50, 50);
}