.feed{
    flex: 0.7;
    min-width: fit-content; /*it must to feet the content as the minimum width */
    overflow-y: scroll;
    -ms-overflow-style:none;
    scrollbar-width:none ;

}


/* #scroll--style::-webkit-scrollbar
{
    width: 1px;
}
#scroll--style::-webkit-scrollbar-thumb
{
    background-color: var(--breeab-color);

} */


.feed::-webkit-scrollbar {
    display: none
  } 


.feed--header{
    position: sticky;
    top: 0;
    z-index: 2;
    padding:15px 20px;
    background-color:var(--breeab-color);
    text-align: center;
    margin:0px 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.feed--header > h2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}