.post{
    margin-top: -20px;
}
.post > form{
    padding-top:30px;
    display: flex; 
    flex-direction: column;
    padding-bottom: 10px;
    margin: 0px 20px;
    background-color: rgb(34, 34, 34);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.post--input{
    display: flex;
    padding:20px 0px 10px 20px;


}
.post--input >textarea{
    flex: 1;
    margin: 0px 20px;
    border: 1px solid var(--breeab-color);
    border-radius: 18px;
    padding: 15px 20px 0 20px;

}

textarea[type="text"]{
    background-color: rgba(126, 126, 126, 0.083);
    color:#E2E2E2;
    font-size: 17px;
    resize: none;
}
input[type="text"]{
    background-color: rgba(126, 126, 126, 0.083);
    color:#E2E2E2;
    font-size: 17px;
    resize: none;
}
textarea[type=text]:focus{
    outline: none;
    background-color: rgb(34, 34, 34);

}
textarea::-webkit-scrollbar
{
        display: none 

} 
.post--Upload{
    background-color:rgba(126, 126, 126, 0.083) !important; /*!important overrides the Mui theme*/
    border: 1px solid  var(--breeab-color) !important;
    border-radius: 18px !important;
    color:#E2E2E2 !important;
    font-weight: 300 !important;
    font-size: 20px !important; 
    text-transform: inherit !important;
    height: 40px !important;
    width: 120px;
    font-family: 'Montserrat', sans-serif !important;
    transition: all 0.1s ease-in !important;
    margin-right: 20px !important;

}
.post--Upload:hover{
    background-color:rgba(90, 90, 90, 0.474) !important; /*!important overrides the Mui theme*/
    border: 1px solid  var(--breeab-color) !important;
    border-radius: 10px !important;
    color:#ffffff !important;
    text-transform: inherit !important;

}
.post--button{
    background-color:rgba(126, 126, 126, 0.083) !important; /*!important overrides the Mui theme*/
    border: 1px solid  var(--breeab-color) !important;
    border-radius: 18px !important;
    color:#E2E2E2 !important;
    font-weight: 300 !important;
    font-size: 20px !important; 
    text-transform: inherit !important;
    height: 40px !important;
    width: 120px;
    font-family: 'Montserrat', sans-serif !important;
    transition: all 0.1s ease-in !important;
    display: flex;

}
.post--button:hover{
    background-color: var(--breeab-color) !important; /* !important overrides the Mui theme*/
    transition:all 0.1s ease-out !important;
    border-radius: 10px !important;
    color:#E2E2E2 !important;
    font-weight: 300 !important;
    text-transform: inherit !important;
}

.input-buttons{
display: flex;
padding-right: 20px;
padding-bottom: 20px;
margin-top: 30px !important;
 margin-left: auto !important;

}