
/* .signup__wrapper{
    display: flex;
    flex: 0.7;
    min-width: fit-content; /*it must to feet the content as the minimum width 
    overflow-y: scroll;
    -ms-overflow-style:none;
    scrollbar-width:none ;
    padding-top:200px ;
    margin-top: -100px;
    background-color:#262424;
    

}


.signup__wrapper::-webkit-scrollbar {
    display: none
  } 

.post{
    margin-top: -20px;
}
.post > form{
    margin-top: -20px;
    padding-top:30px;
    display: flex; 
    flex-direction: column;
    padding-bottom: 10px;
    margin: 0px 20px;
    background-color: rgb(34, 34, 34);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.form{
    padding-top: 30px;

}

.form__wrapper{
    flex-direction: row !important;
    align-items: center;
    padding: 50px;
    background-color:rgb(38, 36, 36);
    border-radius: 20px;


}
.form__button{
    margin-top: 50px !important;
    padding:10px !important;
    font-size: 16px;
    font-weight: 900 !important;
    font-family: 'Montserrat', sans-serif !important;

}
.text__field{
    color:red !important;
} */
/* .container >input{
        margin-top: 20px;
        background-color: rgba(126, 126, 126, 0.083);
        color:#E2E2E2;
        font-size: 17px;
        resize: none;
        width: inherit;
        padding:20px 0px;
        border-width:0px;
        order:none;
        
    
} */
.container >input::placeholder{
    padding-left:20px

}

.form__button{
    padding:10px !important;
    margin-top: 20px !important;
    width: inherit !important;
    background-color:#c2164f !important;
    color:#E2E2E2 !important;

}
.container{
    /* display: flex !important; */
    /* flex-direction: column !important; */
    /* align-items: center !important; */
    padding: 40px;
}
.container > form{
    display: flex;
    flex-direction: column;
    /* align-items: center ; */

}
.container__wrapper{
    margin-top: 50px;
    width: 95%;    
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color:#262424  !important;

}
.signUp__helpLinks > div{
    margin-top: 20px !important;
}
.signup__signInLink{
    color: var(--breeab-color) !important;
    font-weight: 900;
}