
.container > input::placeholder {
  padding-left: 20px;
}

.form__button {
  padding: 10px !important;
  margin-top: 20px !important;
  width: inherit !important;
  background-color: #c2164f !important;
  color: #e2e2e2 !important;
}
.container {

  padding: 40px;
}
.container > form {
  display: flex;
  flex-direction: column;
}
.container__wrapper {
  margin-top: 50px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #262424 !important;
}
.signUp__helpLinks > div {
  margin-top: 20px !important;
}
.signup__signInLink {
  color: var(--breeab-color) !important;
  font-weight: 900;
}
.singUp__passwordValidation {
  width: 100%;
  background-color: #c2164f74 !important;
  border-radius: 10px;
  border: 2px solid #c2164f;
  height: 60px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
